@model ModelViews

@{
    ViewData["Title"] = "Расчет площади шарового сектора";
}

<h1>Расчет площади шарового сектора</h1>

<form method="post" asp-controller="TRPO_Lab3" asp-action="Check">
    <label asp-for="radius_shara"></label>
    <input asp-for="radius_shara" placeholder=" введите значение радиуса шара" />
    <span asp-validation-for="radius_shara"></span>

    <label asp-for="radius_okrujnosti"></label>
    <input asp-for="radius_okrujnosti" placeholder=" введите значение радиуса окружности" />
    <span asp-validation-for="radius_okrujnosti"></span>

    <label asp-for="height"></label>
    <input asp-for="height" placeholder=" введите значение высоты" />
    <span asp-validation-for="height"></span>

    <input type="submit" value="Рассчитать" />
</form>

@if (ViewBag.area != null)
{
    <div>
        <h2>Результат:</h2>
        <p>Площадь шарового сектора: @ViewBag.area</p>
    </div>
}

<div class="form-container img">
    <!-- Ваша форма здесь -->
    <form method="post" asp-controller="TRPO_Lab3" asp-action="Index">
        <!-- Поля формы -->
        <img src="~/img/471072_html_8f9efc36e2fe2ba3.jpg" alt="Шаровый сектор">
    </form>
</div>